#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp Q             &kp W  &kp E           &kp R      &kp T          &kp Y        &kp U      &kp I                &kp O                     &kp P
&mt LEFT_SHIFT A  &kp S  &lt 1 D         &lt 3 F    &kp G          &kp H        &lt 4 J    &lt 2 K              &lt 6 L                   &mt RIGHT_SHIFT SEMICOLON
&mt LCTRL Z       &kp X  &mt LEFT_ALT C  &kp V      &kp B          &kp N        &kp M      &mt RIGHT_ALT COMMA  &mt RIGHT_CONTROL PERIOD  &kp FSLH
                                         &kp SPACE  &lt 8 SPACE    &lt 7 SPACE  &kp SPACE
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans       &trans  &trans    &kp UP    &trans     &trans
&trans  &trans  &trans  &trans  &trans       &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans
&trans  &trans  &trans  &trans  &trans       &trans  &trans    &trans    &trans     &trans
                        &trans  &kp SPACE    &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&kp GRAVE  &kp N1        &kp N2        &kp N3  &kp N4    &kp N6         &kp LS(UNDER)  &kp MINUS  &kp EQUAL    &kp BSLH
&kp LSHFT  &kp LS(STAR)  &kp LS(AMPS)  &trans  &trans    &kp LS(POUND)  &kp LS(TILDE)  &kp FSLH   &kp LS(DQT)  &kp SQT
&trans     &trans        &trans        &trans  &trans    &trans         &kp MINUS      &kp COMMA  &kp DOT      &trans
                                       &trans  &trans    &trans         &trans
            >;
        };

        layer_4 {
            bindings = <
&kp GRAVE     &kp N9    &kp LS(LBRC)  &kp LS(RBRC)  &kp N0        &trans    &trans   &trans     &trans        &kp SQT
&kp LSHFT     &kp LBKT  &kp LS(LPAR)  &kp LS(RPAR)  &kp RBKT      &trans    &trans   &kp EQUAL  &kp LS(PLUS)  &kp LS(PRCNT)
&kp LS(EXCL)  &kp LBKT  &kp RBKT      &kp LS(LT)    &kp LS(GT)    &trans    &trans   &kp COMMA  &kp DOT       &trans
                                      &trans        &trans        &kp BSPC  &kp RET
            >;
        };

        layer_5 {
            bindings = <
&trans     &trans  &trans        &trans     &trans    &trans     &kp N7  &kp N8  &kp N9  &kp EQUAL
&kp LSHFT  &trans  &kp LC(LALT)  &kp LCTRL  &trans    &kp MINUS  &kp N4  &kp N5  &kp N6  &kp F11
&trans     &trans  &trans        &trans     &trans    &trans     &kp N1  &kp N2  &kp N3  &kp F12
                                 &trans     &trans    &trans     &kp N0
            >;
        };

        layer_6 {
            bindings = <
&trans  &kp N7  &trans  &kp N9  &kp PLUS    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans
                        &trans  &trans      &trans  &trans
            >;
        };

        layer_7 {
            bindings = <
&kp ESC    &kp N1         &kp N2    &kp N3        &kp N4       &kp BSPC  &kp MINUS  &kp LBKT   &kp RBKT  &kp BSPC
&kp LSHFT  &kp LS(PRCNT)  &kp FSLH  &kp RET       &trans       &kp RET   &kp LGUI   &trans     &trans    &kp RET
&trans     &trans         &trans    &kp LS(EXCL)  &trans       &trans    &trans     &kp COMMA  &kp DOT   &trans
                                    &trans        &kp SPACE    &trans    &trans
            >;
        };

        layer_8 {
            bindings = <
&kp ESC   &kp W  &kp E  &kp R     &kp BSPC    &kp BSPC  &kp N7  &kp I   &kp O   &kp BSPC
&kp TAB   &kp A  &kp S  &kp D     &kp F       &kp RET   &kp N4  &kp N5  &kp N6  &kp RSHFT
&kp LGUI  &kp Z  &kp X  &kp C     &kp V       &trans    &kp N1  &kp N2  &kp N3  &kp FSLH
                        &kp LALT  &trans      &trans    &trans
            >;
        };
    };
};
